html
    head
        title!= title
        link(href='css/app.css',rel='stylesheet')
    body
        div(align='center',class='picContainer')    
            h1!= message
            img(src=image,height=600)
            h2!= tweet